{
    "env": {
      "node": true
    },
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "parserOptions": {
      "ecmaVersion": 2022,
      "sourceType": "module"
    },
    "rules": {
      "prettier/prettier": "error"
    },
    "overrides": [
      {
        "files": ["*.ts"],
        "parser": "@typescript-eslint/parser",
        "extends": ["plugin:@typescript-eslint/recommended"],
        "parserOptions": {
          "project": "./tsconfig.json"
        }
      }
    ]
  }
  